<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/katyayanidotnet/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="katyayanidotnet" />
      <add key="ClearTextPassword" value="7d5d45f40fdd66938708567a7da30802e73241bb" />
    </github>
  </packageSourceCredentials>
</configuration>